name: Publish Repo

on:
  push:
    branches:
    - 'main'
  workflow_dispatch:

jobs:
  publish:
    name: "Publish"
    runs-on: ubuntu-latest
    steps:
    - uses: icub-tech-iit/gh-action-repo-selective-sync@v1.1.1
      with:
        recipe-file: '.publish/recipe.yml'
        token-source: ${{ secrets.GH_PAT }}
        token-target: ${{ secrets.GH_PAT }}